.chatbot-container {
    position: absolute;
    bottom: 350px;
    right: 650px;
    width: 300px;
    background: rgb(143, 8, 206);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(187, 3, 190, 0.1);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.chatbot-header {
    padding: 10px;
    background: #8209c3;
    border-bottom: 1px solid #800dd3;
}

.chatbot-header p {
    margin: 0 0 5px 0;
    font-weight: bold;
}

.chatbot-header ul {
    margin: 0;
    padding-left: 20px;
}

.chatbot-header li {
    margin-bottom: 5px;
    font-size: 0.9em;
}

.chatbot-messages {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
    background: #f9f9f9;
}

.chatbot-message {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
}

.chatbot-message.bot {
    background: #9c0dcb;
    text-align: left;
}

.chatbot-message.user {
    background: #0084ff;
    color: rgb(133, 8, 196);
    text-align: right;
}

.chatbot-input {
    display: flex;
    border-top: 1px solid #ccc;
}

.chatbot-input input {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 0 0 0 8px;
    outline: none;
}

.chatbot-input button {
    padding: 10px;
    border: none;
    background: #6908c3;
    color: white;
    border-radius: 0 0 8px 0;
    cursor: pointer;
}
