.chatbot-container {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 320px;
    background: #8F08CE;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    font-family: Arial, sans-serif;
}

.chatbot-header {
    padding: 15px;
    background: #8209c3;
    border-bottom: 1px solid #800dd3;
    color: white;
}

.chatbot-header h2 {
    margin: 0 0 10px 0;
    font-size: 1.2em;
    font-weight: bold;
}

.chatbot-header p {
    margin: 0 0 10px 0;
    font-weight: bold;
    font-size: 0.9em;
}

.chatbot-header ul {
    margin: 0;
    padding-left: 20px;
    list-style-type: disc;
}

.chatbot-header li {
    margin-bottom: 5px;
    font-size: 0.9em;
}

.chatbot-messages {
    flex: 1;
    padding: 15px;
    overflow-y: auto;
    background: #f9f9f9;
}

.chatbot-message {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    font-size: 0.9em;
}

.chatbot-message.bot {
    background: #9C0DCB;
    color: white;
    text-align: left;
    align-self: flex-start;
}

.chatbot-message.user {
    background: #0084FF;
    color: white;
    text-align: right;
    align-self: flex-end;
}

.chatbot-input {
    display: flex;
    border-top: 1px solid #ccc;
}

.chatbot-input input {
    flex: 1;
    padding: 15px;
    border: none;
    border-radius: 0 0 0 10px;
    outline: none;
    font-size: 1em;
}

.chatbot-input button {
    padding: 15px;
    border: none;
    background: #6908c3;
    color: white;
    border-radius: 0 0 10px 0;
    cursor: pointer;
    font-size: 1em;
}
