.fashion-advice-chatbot-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 300px;
    background: rgb(143, 8, 206);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(187, 3, 190, 0.1);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.chatbot-header {
    padding: 15px;
    background: #8209c3;
    color: white;
    text-align: center;
    border-bottom: 1px solid #800dd3;
}

.chatbot-messages {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
    background: #f9f9f9;
}

.chatbot-message {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
}

.chatbot-message.bot {
    background: #9c0dcb;
    text-align: left;
    color: white;
}

.chatbot-message.user {
    background: #0084ff;
    color: white;
    text-align: right;
}

.chatbot-input {
    display: flex;
    border-top: 1px solid #ccc;
}

.chatbot-input input {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 0 0 0 8px;
    outline: none;
}

.chatbot-input button {
    padding: 10px;
    border: none;
    background: #6908c3;
    color: white;
    border-radius: 0 0 8px 0;
    cursor: pointer;
}
