.profile-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background: rgb(88, 6, 197);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.profile-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.profile-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.form-group label {
    font-weight: bold;
}

.form-group input,
.form-group textarea,
.form-group select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.form-group input[type="file"] {
    padding: 3px;
}

.form-group textarea {
    resize: vertical;
    height: 100px;
}

.form-group select[multiple] {
    height: auto;
    min-height: 100px;
}

.profile-picture-preview {
    margin-top: 10px;
    max-width: 100px;
    max-height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #5d08dd;
    color: rgb(15, 8, 220);
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0a32e4;
}

/* New styles for layout adjustment */
.profile-form-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.body-measurements-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.measurements-box {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.measurements-box .form-group {
    flex: 1;
}

.measurements-box .measurements-input-container {
    display: flex;
    flex-direction: column;
}

.measurement-image {
    max-width: 500px;
    max-height: 500px;
    object-fit: contain;
    align-self: center;
}

.measurement-input-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.measurement-input {
    display: flex;
    align-items: center;
}

.measurement-input button {
    width: 30px;
    height: 30px;
    font-size: 18px;
    line-height: 0;
    padding: 0;
    border: 1px solid #a70ad6;
    border-radius: 50%;
    background-color: #b10ae8;
    cursor: pointer;
    margin: 0 5px;
}

.measurement-input button:hover {
    background-color: #e0e0e0;
}

.measurement-input input {
    width: 60px;
    text-align: center;
}

.color-option {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 5px;
    vertical-align: middle;
}
