.form-container {
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 10px;
    flex: 1 1 300px; /* Adjusts to ensure the flex items have a base width */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-preview {
    max-width: 200px;
    max-height: 200px;
    margin-top: 10px;
}

.upload-forms-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
}

.confirmation-container {
    background: rgb(112, 7, 173);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 10px;
    flex: 1 1 100%;
}

.confirmation-container ul {
    list-style-type: none;
    padding: 0;
}

.confirmation-container li {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.confirmation-container img {
    max-width: 200px;
    max-height: 200px;
}

.detected-category {
    margin-top: 20px;
    text-align: center;
    font-size: 1.2em;
    color: rgb(227, 226, 230);
}
