/* Container Styling */
.virtual-closet-container {
    padding: 20px;
    width: 100vw;
    margin: 80px auto 0 auto;
    text-align: left;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    min-height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    box-sizing: border-box;
    z-index: 1;
}
